<div class="btn-group activity-filter" data-toggle="buttons">
	<label class="btn btn-default activity-filter-live active">
		<input type="radio" autocomplete="off">LIVE
	</label>
	<label class="btn btn-default activity-filter-all disabled">
		<input type="radio" autocomplete="off">ALL
	</label>
	<label class="btn btn-default activity-filter-dead disabled">
		<input type="radio" autocomplete="off">DEAD
	</label>
</div>