<h4>Currently Working On...</h4>
<ul>
	<li>Adding controls for the thumbnail rate as defined:
	<ul>
		<li>Specifying a range for the number of thumbnails that can be on the screen at once</li>
		<li>Specifying a range for the speed at which thumbnails are generated
	</ul>
	<li>Adding 8chan as the next chan site (has a decent amount of activity and a stable json endpoint)</li>
	<li>Adding 4chan's native archives as an archive option</li>
	<li>Looking into setting up Google Anlytics</li>
	<li>Messing around with either more effects or music integration (youtube, soundcloud, r/a/dio, etc)</li>
</ul>
<h5>0.1.3</h5>
<ul>
	<li>Create the full navigation menu</li>
	<li>Sync the state of components, such as the content filter, between the quick and full navs</li>
	<li>Add to the full nav sections for General, Sites/Boards, and Effects settings</li>
	<li>Fill out Changelog and About sections (profiles disabled for now, future work)</li>
	<li>Flesh out inital contents of settings tabs (though most values are currently disabled)</li>
</ul>
<h5>0.1.2</h5>
<ul>
	<li>Fine-tune rate at which thumbnails generate</li>
	<li>Adjust how thumbnails are removed to account for faster user internet speeds</li>
	<li>Optmize banner image size to reduce bandwidth usage</li>
	<li>Create new icon/title for the site</li>
	<li>Include bootstrap in the site</li>
	<li>Create button group for quick and full navigation menus</li>
	<li>Create a content filter component</li>
	<li>Create a view source button</li>
</ul>
<h5>0.1.1</h5>
<ul>
	<li>Include jquery and marquee plugin</li>
	<li>Fine-tune background animation styling</li>
	<li>Create functions to perform ajax calls, pulling thread dat from 4chan's API, proxying the request through the server, and serving thumbnails to the client</li>
</ul>
<h5>0.1.0</h5>
<ul>
	<li>Perform initial setup on DNS and web-hosting services</li>
	<li>Create node.js server and core files</li>
</ul>