<div class="btn-group content-filter" role="group" aria-label="content-filter">
  <button type="button" class="btn btn-default" id="content-filter-sfw">SFW</button>
  <button type="button" class="btn btn-default active" id="content-filter-both">BOTH</button>
  <button type="button" class="btn btn-default" id="content-filter-nsfw">NSFW</button>
</div>