<div class="btn-group content-filter" role="group" aria-label="content-filter">
  <button type="button" class="btn btn-default content-filter-sfw">SFW</button>
  <button type="button" class="btn btn-default content-filter-both active">BOTH</button>
  <button type="button" class="btn btn-default content-filter-nsfw">NSFW</button>
</div>