<div class="btn-group content-filter" data-toggle="buttons">
	<label class="btn btn-default content-filter-sfw active">
		<input type="radio" autocomplete="off">SFW
	</label>
	<label class="btn btn-default content-filter-all">
		<input type="radio" autocomplete="off">ALL
	</label>
	<label class="btn btn-default content-filter-nsfw">
		<input type="radio" autocomplete="off">NSFW
	</label>
</div>