<h4>Background Style</h4>
<select class="form-control effect-select background-style">
	<option value="0">None</option>
	<option value="1" selected="selected">>le 4channer</option>
</select>
<h4>Background Overlay</h4>
<select class="form-control effect-select background-overlay">
	<option value="0">None</option>
	<option value="1" selected="selected">Rainbow</option>
	<option value="2">All</option>
</select>