<div class="modal fade" id="fullnav" tabindex="-1" role="dialog" aria-labelledby="fullnav-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="fullnav-label">
					<a target="_blank" href="https://github.com/anonob/ranchan">
						<img src="/images/icon/ranleaf-title-64.gif" alt="ranchan"/>
					</a>
				</h4>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#fullnav-general" aria-controls="fullnav-general" role="tab" data-toggle="tab">
							<i class="fa fa-tasks fa-lg fa-fw" aria-hidden="true"></i>General
						</a>
					</li>
					<li role="presentation">
						<a href="#fullnav-sources" aria-controls="fullnav-sources" role="tab" data-toggle="tab">
							<i class="fa fa-globe fa-lg fa-fw" aria-hidden="true"></i>Sources
						</a>
					</li>
					<li role="presentation">
						<a href="#fullnav-effects" aria-controls="fullnav-effects" role="tab" data-toggle="tab">
							<i class="fa fa-magic fa-lg fa-fw" aria-hidden="true"></i>Effects
						</a>
					</li>
					<li role="presentation">
						<a href="#fullnav-profiles" aria-controls="fullnav-profiles" role="tab" data-toggle="tab">
							<i class="fa fa-floppy-o fa-lg fa-fw" aria-hidden="true"></i>Profiles
						</a>
					</li>
					<li role="presentation">
						<a href="#fullnav-changelog" aria-controls="fullnav-changelog" role="tab" data-toggle="tab">
							<i class="fa fa-pencil-square-o fa-lg fa-fw" aria-hidden="true"></i>Changelog
						</a>
					</li>
					<li role="presentation">
						<a href="#fullnav-about" aria-controls="fullnav-about" role="tab" data-toggle="tab">
							<i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>About
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="fullnav-general">
						<% include ./general.ejs %>
					</div>
					<div role="tabpanel" class="tab-pane" id="fullnav-sources">
						<% include ./sources.ejs %>
					</div>
					<div role="tabpanel" class="tab-pane" id="fullnav-effects">
						<% include ./effects.ejs %>
					</div>
					<div role="tabpanel" class="tab-pane" id="fullnav-profiles">
						<% include ./profiles.ejs %>
					</div>
					<div role="tabpanel" class="tab-pane" id="fullnav-changelog">
						<% include ./changelog.ejs %>
					</div>
					<div role="tabpanel" class="tab-pane" id="fullnav-about">
						<% include ./about.ejs %>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>