<div>
	<h4 class="tooltip-heading">Content Filter</h4>
	<i class="fa fa-question-circle fa-fw" data-toggle="tooltip" data-placement="right" 
	title="Use to view SFW boards, NSFW boards (18+ content), or all boards" aria-hidden="true"></i>
</div>
<% include ./content-filter.ejs %>
<div>
	<h4 class="tooltip-heading">Activity Filter</h4>
	<i class="fa fa-question-circle fa-fw" data-toggle="tooltip" data-placement="right" 
	title="Use to view live threads, dead threads (now archived), or all threads" aria-hidden="true"></i>
</div>
<% include ./activity-filter.ejs %>