<h4>Sites & Boards</h4>
<div class="btn-group dropdown-4chan">
	<button type="button" class="btn btn-default toggle-4chan">
		<i class="fa fa-check-square fa-lg fa-fw" aria-hidden="true"></i>4chan
	</button>
	<button type="button" class="btn btn-default dropdown-toggle" aria-haspopup="true" aria-expanded="false">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
	</button>
	<a target="_blank" href="https://www.4chan.org"><i class="fa fa-link fa-lg source-link" aria-hidden="true"></i></a>
	<ul class="dropdown-menu container menu-4chan" aria-labelledby="4chan-dropdown">
		<div class="a-col col-md-4"></div>
		<div class="b-col col-md-4"></div>
		<div class="c-col col-md-4"></div>
	</ul>
</div>