<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>
        <main>
            <div id="shadow-overlay"></div>
            <div id="container">
                <div id="marquee-container"></div>
            </div>
            <!-- <% include ../partials/sound.ejs %> -->
        </main>
        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>